.wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 1rem;
}

.msg {
  margin-bottom: 1rem;
}

span {
  font-style: italic;
  font-size: 1.5rem;
}
