.item::after {
  background-color: #fff;
  border-radius: 50%;
  bottom: 50%;
  content: "";
  height: 10px;
  position: absolute;
  right: 50%;
  transform: translate(50%, 50%);
  width: 10px;
}

.item {
  position: absolute;
}
