.spinner {
  width: 13px;
  height: 13px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  background-color: transparent;
  border-right-color: transparent;
  animation: loading 1s linear infinite;
  margin: 0 auto;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
